node_modules
.next
.git
.gitignore
.dockerignore
.env*.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
Sample/
Storage/
backups/
.vscode/
.idea/
.agents/
README.md
vitest.config.mjs
